body {
  background-color: black;
  color: yellow;
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  margin-top: 50px;
}

.title {
  color: yellow;
  margin-bottom: 30px;
  font-size: 32px;
}

#generate-btn,
#copiar {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 8px;
  border: none;
  margin-top: 20px;
}

#generate-btn:hover,
#copiar:hover {
  background-color: rgb(255, 255, 107);
}

.result-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.result-square {
  background-color: yellow;
  color: black;
  font-weight: bold;
  font-size: 24px;
  width: 60px;
  height: 60px;
  margin: 5px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#copiar {
  display: none; /* Oculto hasta que se generen los números */
}
